.wrap {
	position: relative;
	.bg {
		width: 100%;
		image {
			width: 100%;
		}
	}

	.content {
		width: 686rpx;
		margin: 0 auto;
	}
	.imageCode {
		width: 238rpx;
		height: 70rpx;
	}
	.open-to{
		margin:30rpx auto;
		.register{
			color: #82848a;
		}
	}
}